* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111827;
  color: #fff;
}

h1 {
  margin-top: 1em;
  text-align: center;
}

.userReset {
  width: 33%;
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
}

button {
  padding: 0.3em;
}

.grid-container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 2.5em;
  border: 5px solid rgb(46, 82, 46);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  background-color: white;
  border: 0.2px solid rgb(61, 14, 14);
}